#profile_header {
  padding-top: 23vh;
  display: flex;
  justify-content: center;
}

#profile_menu {
  padding-top: 23px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.user-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00000070;
}

.message-preview{
  width: 470px;
  border-bottom-width: .75px;
  border-bottom-color: rgb(105, 105, 105);
  border-bottom-style: solid;
  padding: 8px;
  margin: 8px;
  display: flex;
  align-content: center;
}

.message-title {
  font-weight: bold;
  padding-left: 16px;
  //color: $red-orange;
}

.message-overview{
padding-bottom: 8px;

}

.messages-container{
  border-style: solid;
  border-color: rgb(105, 105, 105);
  border-width: .75px;
  display: flex;
  justify-content: space-between;
}

.chat{
  width: 600px;
  height: 500px;
  border-left-width: .75px;
  border-left-color: rgb(105, 105, 105);
  border-left-style: solid;
  display: flex;
  flex-direction: column;
  margin: 8px;
  justify-content: space-between;
}
#chat-right {
  text-align: left !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #9EB7E060;
  margin: 8px;
  padding: 12px;
  width: 60%;
}

#chat-left {
  text-align: right !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #FCE7E990;
  margin: 8px;
  padding: 12px;
  width: 60%;
  margin-left: 225px;
}

.messages{
margin: 12px;
// display: flex;
display: grid;
grid-template-columns: 1fr;
overflow: auto;
}

.bottom{
  height: 200px;
}

.handshake {
 display: flex;
 justify-content: space-evenly;
  a{
    margin: 0px !important;
    p{
      padding: 0px;
      margin: 0px;
    }
  }
  align-items: center;
}

.canceled{
  margin-top: 12px;
  color: $red-orange;
}

.message-form {
  width: 95%;
  height: 70px;
  border-width: .75px;
  border-color: rgb(105, 105, 105);
  border-style: solid;
  padding: 12px;
  margin: 12px;
}

.message-input {
  padding: 20px;
  border: 3px !important;
}

.message-time {
  color: #00000050;
}

.user-name {
  color: #00000070;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.message-content{
  //margin-bottom: 8px;
}

.handshake-explenation{
  p{
    font-size: 9.5px;
    color: #00000060;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    //padding-bottom: 8px;
    text-align: center;
  }
}

.message-image{
  img{
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
}

.date{
  text-align: right;
  padding-left: 100px;
}

.user{
  width: 150px;
  padding-bottom: 8px;
  color: #00000060;
  padding-left: 16px;
}

.chat-title {
  text-align: center;
  padding-top: 8px;
  font-weight: bold;
  font-size: 14px;
  color: #00000070;
}
